//
   Created by D on 21.6.2016 г..

form.form-inline
    .form-group
        input.form-control([(ngModel)] = "task" type="text" placeholder="New note ")
    .form-group
        button.btn( (click) = "saveNote()")  Add